<div #filtro>
    <span>Filtro: </span>

    <label for="all">
        <input id="all" type="radio" name="filtro" value="All">
        <span>{{'Todos ('+all+')'}}</span>
    </label>

    <label for="isPriority">
        <input id="isPriority" type="radio" name="filtro" value="isPriority">
        <span>{{'Prioritários ('+isPriority+')'}}</span>
    </label>

    <label for="notPriority">
        <input id="notPriority" type="radio" name="filtro" value="notPriority">
        <span>{{'Não Prioritários ('+notPriority+')'}}</span>
    </label>
</div>