<app-filtro [all]="totalContratantes" [isPriority]="totalPriority" [notPriority]="totalNotPriority" #filtro></app-filtro>
<div class="row">
  <div class="col s12 m6 l12 offset-m3">
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          <th data-field="td-id">#</th>
          <th data-field="td-name">Nome</th>
          <th data-field="td-phone">Telefone</th>
          <th data-field="td-mail">E-mail</th>
          <th data-field="td-priority">Prioritário</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contratante of contratantes"
          routerLink="['/contratante/visualizar', contratante.id]">
          <td>{{contratante.id}}</td>
          <td>{{contratante.name}}</td>
          <td>{{contratante.phone}}</td>
          <td>{{contratante.email}}</td>
          <td>{{contratante.priority}}</td>
          <td>
            <button class="waves-effect waves-light blue btn-small" (click)="edit(contratante.id)">Editar</button>
            <button class="waves-effect waves-light red btn-small">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-detalha-contratante #clicado></app-detalha-contratante>