<div class="container contact">
  <h5>Cadastro de Contratante</h5>
  <h6>Entre com os dados do contratante</h6>
  <hr />
  <div class="row">
    <div class="col 12">
      <div
        id="div-contratante-message"
        class="card-panel white-text"
        [hidden]="!this.validateMessage"
        [class.red]="this.validateMessage"
        [class.blue]="!this.validateMessage"
      >
        {{ this.validateMessage }}
      </div>
    </div>
  </div>
  <div class="row">
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="name"
          name="input-name"
          type="text"
          class="validate"
          [(ngModel)]="this.contratante.name"
          pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
          required
        />
        <span
          class="helper-text"
          data-error="O nome é inválido, necessários ao menos dois nomes iniciando com letras maiúsculas."
          data-success="Ok!"
        ></span>
        <label for="name" class="active">Nome Completo</label>
        <p>Tamanho: {{this.contratante.name.length}}</p>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">contact_phone</i>
        <input
          id="phone"
          name="input-phone"
          type="text"
          [(ngModel)]="this.contratante.phone"
          prefix="+55 "
          [showMaskTyped]="true"
          mask="(00) 0000-0000"
          class="validate"
          minlength="10"
          required
        />
        <label for="phone" class="active">Número de telefone</label>
        <span
          class="helper-text"
          data-error="Não é um telefone válido, são necessários 10 dígitos."
          data-success="Ok!"
        ></span>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">contact_mail</i>
        <input
          id="email"
          name="input-email"
          type="email"
          [(ngModel)]="this.contratante.email"
          class="validate"
          ngModel [email]="true"
          required
        />
        <label for="email" class="active">Email</label>
        <span
          class="helper-text"
          data-error="O e-mail informado é inválido."
          data-success="Ok!"
        ></span>
      </div>
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">Cadastrar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
